{% extends "_base.html" %}
{% block page_title %} - METEOR{% endblock %}
{% block content %}    

      <div>
            <h4>METEOR : Modèle énergétique territorialisé</h4>
            <ul>
            <li>METEOR est le fruit de 4 ans de développement par la société WattStrat. </li>
            <li>En Janvier 2019, METEOR est mis à disposition gratuitement en open-source grâce au concours financier de l'<a target="_blank" href="https://www.ademe.fr">ADEME</a>. </li> 
            <li> Voici une vidéo de présentation issue de l'originie commerciale de ce logiciel : </li><br>
        <div>
            <center><iframe width="560" height="336" src="https://www.youtube.com/embed/8HWtsUExX6U"></iframe></center> 
        </div>
    </ul>
            <h4>1. Installez METEOR sur votre ordinateur gratuitement</h4>
            <ul>
            <li>Installez notre logiciel, en vous rendant sur notre dépot <a href="https://github.com/wattstrat" target="_blank">Github</a> qui comprend notamment (disponible courant janvier) :</li>
                        <ul>
                            <li>le code source du <a href="https://github.com/wattstrat/METEOR" target="_blank">moteur de simulation</a>. Aucune donnée supplémentaire n'est requise.</li>
                            <li>le code source de <a href="https://github.com/wattstrat/Webapp" target="_blank">l'application web</a> permettant de configurer, lancer et visualiser les résultats de simulation. En installant notre outil de visualisation, tous vos résultats sont disponibles sous la forme de graphiques horaires et de cartographies facilement réutilisables, directement depuis votre navigateur</li>
                        </ul>
            </ul>
             <br>
        </div>
        <div>
            <h4>2. Téléchargez vos données locales directement depuis ce site web</h4>

            <ul><li>Disponible courant janvier.</li></ul>
        </div>
{% endblock %}
